apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
data:
  LOG_LEVEL: info
  APP_ENV: production

---
apiVersion: v1
kind: Secret
metadata:
  name: app-secret
type: Opaque
data:
  DB_PASSWORD: c3VwZXJzZWNyZXQxMjMK

---
apiVersion: v1
kind: Pod
metadata:
  name: config-pod
spec:
  containers:
    - image: nginx:1.25
      name: config-nginx
      resources:
        limits:
          cpu: 200m
          memory: 256Mi
        requests:
          cpu: 100m
          memory: 128Mi
      envFrom:
        - configMapRef:
            name: app-config
        - secretRef:
            name: app-secret
